
@{
    ViewBag.Title = "About_me";
}

<h2>About me</h2>
<hr/>

<div class="container">
    <div class="row card text-white bg-info mb-3">
        <div class="col-sm-8">


            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h2 class="card-title">Bio</h2>
                    <hr />

                    <p class="card-text mb-2 text-muted">My name is Luco, and I left this assignment way too late, because I was battling with STK 210.</p>

                </div>
            </div>


        </div>


        <div class="col-sm-4">

            <img class="img-responsive" src="~/root/Me.jpeg">

        </div>

    </div>

    
  
</div>